.hero_section {
  position: relative;
  height: 80vh;
  background-image: url("../../assets/images/homebanner.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
