.how-to-measure {
  max-width: 1360px;
  margin: 0 auto;
  padding: 1rem 4.5rem;

  .each-measurement-left {
    display: flex;

    .left {
      width: 50%;
      padding: 2rem;

      img {
        width: 80%;
      }
    }

    .right {
      width: 50%;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .area-title {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.95rem;
        line-height: 1.55;
      }
    }
  }
  .each-measurement-right {
    display: flex;

    .left {
      width: 50%;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .area-title {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.95rem;
        line-height: 1.55;
      }
    }

    .right {
      width: 50%;
      padding: 2rem;

      img {
        width: 80%;
      }
    }
  }
}
