.product_listing {
  padding: 3.5rem 4.5rem;

  .products {
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product_card {
      width: 23%;
      margin-bottom: 2rem;
    }

    // &::after {
    //   content: "";
    //   flex: auto;
    // }
  }

  .heading_text {
    width: 70vw;
    margin: 0 auto;
    text-align: center;

    .title {
      font-size: 2rem;
      color: #202020;
      text-transform: capitalize;
    }

    .description {
      width: 50vw;
      margin: 1rem auto;
      padding-bottom: 2rem;
      font-size: 1.1rem;
      text-transform: capitalize;
      color: #5c5c5c;
      line-height: 1.8rem;
    }
  }
}
