@media only screen and (max-width: 768px) {
  .App {
    .how-it-works {
      padding: 1rem 2rem;
      .area-title {
        margin-top: 0;
        font-size: 1.5rem;
      }
      padding: 2rem 2rem;

      .bottom-content {
        .common-left {
          .left,
          .right {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }

          .left {
            padding-bottom: 0;
          }
        }

        .common-right {
          flex-direction: column-reverse;

          .left,
          .right {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }

          .right {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    .how-it-works {
      //   padding: 2rem 2rem;

      .bottom-content {
        .common-left {
          flex-direction: column;

          .area-title {
            margin-top: 0;
          }

          .left,
          .right {
            width: 100%;
          }

          .left {
            padding-bottom: 0;
          }
        }

        .common-right {
          flex-direction: column-reverse;

          .area-title {
            margin-top: 0;
          }

          .left,
          .right {
            width: 100%;
          }
          .right {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
