.customer-speaks {
  margin: 0 auto;
  padding: 1rem 4.5rem;
  max-width: 1360px;

  .main-title {
    text-align: center;
    color: #202020;
  }

  .page-desc {
    line-height: 1.55;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 0.95rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
