.color-filter {
  margin-top: 2rem;
  border-bottom: 1px solid #b6b6b6;

  .title {
    font-size: 1rem;
    color: #202020;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .color-list {
    display: flex;
    flex-wrap: wrap;
    color: #333333;
    margin-bottom: 2rem;

    .each-color {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 0.5rem;

      .color {
        display: flex;
        align-items: center;
        position: relative;

        input {
          width: 1.2rem;
          height: 1.2rem;
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        input[type="checkbox"]:checked + img {
          border: 2px solid #333333;
        }

        input[type="checkbox"]:checked + .color-name {
          border: 2px solid #333333;
        }

        img {
          cursor: pointer;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
        }

        .color-name {
          display: flex;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 0.2rem;
          border-radius: 50%;
        }
      }
    }
  }
}
