.news-card {
  max-width: 400px;
  margin: 0.5rem;
  border: 1px solid #dfdfdf;

  .card-img {
    .img {
      height: 300px;
      object-fit: cover;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .date-and-company {
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;

    .date {
      font-weight: 500;
      font-size: 0.95rem;
      color: #202020;
    }

    .company {
      .img {
        background-position: center;
        background-size: cover;
        height: 1rem;
        width: 5rem;
      }
    }
  }

  .title {
    padding: 0rem 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #202020;
    font-size: 0.95rem;
    line-height: 1.55;
  }

  .description {
    padding: 0rem 1.5rem;
    font-size: 0.95rem;
    line-height: 1.55;
    margin-bottom: 1.4rem;
  }

  .read-more {
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0rem 1.5rem;
    margin-bottom: 1.5rem;

    &::after {
      content: " ";
      background-color: #4e4e4e;
      height: 1px;
      width: 6rem;
      position: absolute;
      left: 1.5rem;
      bottom: -0.2rem;
    }
  }
}
