.no-match {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    text-align: center;
    .title-text {
      font-size: 5rem;
      color: #202020;
    }

    .no-match-text {
      font-size: 1.7rem;
    }

    .go-to-home {
      background-color: #202020;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      margin-top: 1rem;
      display: inline-block;
      color: #f1f1f1;
    }
  }
}
